blinker
Bootstrap-Flask
click
colorama
dnspython
email-validator
Flask
Flask-CKEditor
Flask-Gravatar
Flask-Login
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
packaging
psycopg2
python-dotenv
SQLAlchemy
typing_extensions
Werkzeug
WTForms
psycopg2
